.left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: #444444;
  width: 20%;
  margin-top: 5rem;
}

.left .bio-data {
  background-color: #f8f8f8;
  text-align: center;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  height: auto;
}

.left-bio {
  border-top: 6rem solid rgb(194, 64, 41);
}

.info,
.following,
.followers {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.left .bio-data .user {
  border-radius: 50%;
  margin: -3rem auto 0;
  border: 0.3rem solid #f8f8f8;
  width: 5rem;
  height: 6rem;
  background-image: url("../../images/faith.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.left .bio-data .view {
  border: none;
  color: rgb(194, 64, 41);
  outline: none;
  padding: 1rem;
  background-color: #f8f8f8;
  cursor: pointer;
  display: block;
  margin: auto;
}

.bio-data h2 {
  text-align: left;
  font-size: 1.1rem;
}

.person {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin: 0 1rem 0 0.5rem;
  align-items: center;
}

.person .data {
  display: flex;
  gap: 0.2rem;
  align-items: center;
}

.person .data div {
  text-align: left;
}

.person .data img {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}

.footers {
  font-size: 11px;
}
