.hero {
  display: flex;
  background-color: #f8d7b4;
  justify-content: center;
  color: #444;
  height: 85vh;
  text-shadow: 1px 1px 1px #f8f8f8;
}

.hero .info {
  font-size: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero button {
  background: transparent;
  border: 2px solid #444;
  color: #444;
  opacity: 0;
  animation: github 1.5s 2s ease-in forwards;
}

@keyframes github {
  100% {
    opacity: 1;
  }
}

.hero img {
  width: 70%;
  border-radius: 2%;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.3);
  animation: faith 1.5s ease-in forwards;
  opacity: 0;
}

@keyframes faith {
  100% {
    opacity: 1;
  }
}

.greet {
  animation: greet 3s ease-in-out forwards;
  transform: translateY(-100px);
  opacity: 0;
}

@keyframes greet {
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.name {
  animation: name 3s 1s ease-in-out forwards;
  transform: translateX(-50px);
  opacity: 0;
}

@keyframes name {
  100% {
    transform: translateX(1px);
    opacity: 1;
  }
}

.role {
  animation: role 3s 1s ease-in-out forwards;
  transform: translateY(100px);
  opacity: 0;
}

@keyframes role {
  100% {
    transform: translateY(1px);
    opacity: 1;
  }
}
