.myInfo {
  padding: 0 5rem;
}

.myInfo h1 {
  text-align: center;
}

.aboutFaith {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  align-items: center;
}

/* .aboutFaith *{
    flex: 1;
} */

.aboutFaith .image {
  width: 100%;
  flex: 1;
  height: 25rem;
  border-radius: 50%;
  background-image: url("../../images/faith.jpg");
  background-size: cover;
  background-position: center;
  border: 1px solid rgba(0,0,0,0.2);
  box-shadow: 0.3rem 0.3rem 0.3rem rgba(0,0,0,0.2);
}

.aboutFaith p {
    flex: 2;
  margin-left: 1rem;
  padding: 0 1rem;
  animation: about 0.5s ease-in forwards;
  opacity: 0;
}

@keyframes about {
  100% {
    opacity: 1;
  }
}
