.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 2rem 1rem 1rem;
  line-height: 3;
}

input,
textarea {
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 1.2rem;
  padding: 0.5rem;
  margin-left: 2px;
  outline: none;
}

span {
  color: #f7c08a;
}

.form h1 {
  color: #444;
}

input:focus,
textarea:focus {
  border-color: #f7c08a;
}

button {
  width: auto;
  height: auto;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  background: #444;
  color: #fff;
  border: none;
  margin: 2rem 0;
  border-radius: 0.2rem;
  cursor: pointer;
}

button:hover {
  background-color: #f7c08a;
  color: #444;
}
