.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  opacity: 0.9;
  padding: 0 1rem;
}

.navs {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.nav .nav-list {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.nav .nav-list .nav-item {
  padding: 20px;
  cursor: pointer;
}

.nav .nav-list .nav-item:hover,
.nav .nav-list a:active {
  background-color: #444;
  color: #f7c08a;
}
.nav .nav-brand {
  font-size: 1.5rem;
  font-weight: 700;
}

.nav a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

.toggle {
  display: flex;
  flex-direction: column;
  width: 2rem;
  height: 2rem;
  border: 2px solid #fff;
  padding: 4px 0;
  border-radius: 0.4rem;
  display: none;
}

.toggle span {
  display: block;
  width: 70%;
  height: 0.2rem;
  background-color: #fff;
  margin: 2px auto;
  border-radius: 0.5rem;
}

/* .collapse {
  display: none;
  width: 2rem;
  height: 2rem;
  position: relative;
}

.collapse span {
  position: absolute;
  display: block;
  width: 100%;
  height: 0.2rem;
  background-color: #fff;
  margin: 20px auto;
}

.collapse span:first-child {
  transform: rotate(55deg);
}

.collapse span:last-child {
  transform: rotate(-55deg);
} */
