.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(194, 64, 41);
  padding: 0 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.navs {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 1rem;
}

.nav .nav-list {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.nav .nav-list .nav-item {
  padding: 20px 10px;
  cursor: pointer;
  color: #fff;
  font-weight: 500;
}

.nav .nav-list .nav-item:hover,
.nav .nav-list a:active {
  background-color: rgb(199, 81, 60);
}
.nav .nav-brand {
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
}

.nav .user {
  display: flex;
  gap: 0.5rem;
  color: #fff;
  margin-left: 2rem;
  align-items: center;
}

.nav .user img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.nav a {
  text-decoration: none;
}

.toggle {
  display: flex;
  flex-direction: column;
  width: 2rem;
  height: 2rem;
  border: 2px solid #fff;
  padding: 4px 0;
  border-radius: 0.4rem;
  display: none;
}

.toggle span {
  display: block;
  width: 70%;
  height: 0.2rem;
  background-color: #fff;
  margin: 2px auto;
  border-radius: 0.5rem;
}

.arrow-down {
  border-top: 10px solid white;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  width: 0;
  height: 0;
}
