.footer {
  background-color: #444;
  color: #fff;
  text-align: center;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer * {
  margin: 0 0.5rem;
}

.footer img {
  width: 1.5rem;
  height: 1.5rem;
}
