.App {
  height: auto;
  background-color: #f8f8f8;
  line-height: 2;
}

@media (max-width: 900px) {
  .App {
    line-height: 1;
  }
  .nav {
    line-height: 1;
  }

  .nav .nav-list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nav .nav-list .nav-item {
    padding: 3px;
    /* display: none; */
    border: 1px dotted #444;
  }

  .nav .nav-brand {
    padding: 2rem 0;
  }

  .nav .toggle {
    /* display: block; */
    margin-left: auto;
    margin-right: 1rem;
  }

  .nav .collapse {
    /* display: block; */
    margin-right: 1rem;
  }

  .hero {
    flex-direction: column;
    align-items: center;
    padding-top: 5rem !important;
  }

  .hero .info {
    padding: 0;
    margin: 0;
    line-height: 1.5;
  }

  .hero img {
    width: 300px !important;
    height: 300px;
    margin-bottom: 5rem !important;
  }

  .myInfo {
    padding: 1 rem;
  }

  .aboutFaith {
    flex-direction: column;
    height: auto;
  }

  .aboutFaith .image {
    display: none;
  }

  .allSkills {
    padding: 3rem;
  }

  .skill span {
    font-size: 2rem;
  }

  .footer {
    line-height: 1.5;
  }
}

@media (min-width: 900px) {
  .hero {
    font-weight: 500;
    font-size: 2.5rem;
    padding: 5rem;
    align-items: center;
    justify-content: center;
  }

  .hero .info {
    align-items: left;
  }

  .hero img {
    width: 80%;
    height: 80%;
  }

  .form {
    padding: 1rem 5rem;
  }

  .skill {
    height: 15rem;
  }

  .skill span {
    font-size: 5rem;
  }
}
